name: 4AM_Scraper_Service

on:
  schedule:
    - cron: '0 20 * * *' # 北京时间凌晨4点
  workflow_dispatch: # 支持手动运行

jobs:
  build:
    runs-on: ubuntu-latest
    # 授予读写权限，否则无法推送生成的 b58 文件
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run Scraper
        run: node scripts/update-source.js

      - name: Push Result
        run: |
          git config --global user.name "Scraper Bot"
          git config --global user.email "bot@github.com"
          git add data/subscribe.b58
          git commit -m "Update source [$(date)]" || exit 0
          git push
